
:root{
    --MARGIN-PADDING-DEFAULT: 16px;
}

.done{
    color: #ccc;
    text-decoration: line-through;
}

.list-todo{
    margin: 0 auto;
    width: 600px;
    text-align: center;
    border: 1px solid #ddd;
    padding: var(--MARGIN-PADDING-DEFAULT);
    font-size: 20px;
    font-family: sans-serif;
    
}
.list-todo__title{
    color: green;
    font-size: 40px;
}

.list-todo__header{
    margin-top: var(--MARGIN-PADDING-DEFAULT);
}

.list-todo__tasks{
    margin-top: var(--MARGIN-PADDING-DEFAULT);
}
.list-todo__tasks span + span{
    margin-left: var(--MARGIN-PADDING-DEFAULT);
}